{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-80-m w-60-ns center mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>

  <span class="b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="b bb bw1 pb1 no-underline black">{{ .Site.Title }}</a>
  <span class="b"> / </span>
  <a href="/post" class="b bb bw1 pb1 no-underline black">blog</a>

  <section id="main" class="mt5">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>

      <article itemprop="articleBody" id="content" class="w-90 lh-copy">
        {{ .Content }}
      </article>

      <!-- last modified note -->
      <span class="f6 gray mv3" title="Lastmod: {{ .Lastmod.Format "January 2, 2006" }}. Published at: {{ .PublishDate.Format "2006-01-02" }}.">
        {{ if ne .Lastmod .PublishDate }}
          <span class="i">last modified</span> {{ dateFormat "January 2, 2006" .Lastmod }}
        {{ end }}
      </span>

      {{ if and (.Site.Taxonomies.series) (isset .Params "series") }}
        <section class="mt4">
          {{ $readMore := ":wave:" }}
          {{ $series := .Params.series | urlize}}
          <h3>{{ $readMore | emojify }} Related posts in the <a href="/series/{{ $series }}" class="b bb bw1 pb1 no-underline black">{{ .Params.Series }}</a> series...</h3>

          {{ $posts := index .Site.Taxonomies.series $series }}

          {{ if (gt ($posts | len) 1)}}
            <ul class="list pl0">
              {{ range where $posts "Title" "!=" .Title }}
                <li class="list pl0 lh-copy">
                  <a
                    class="f4 b dib black no-underline"
                    href="{{ .Permalink}}"
                    >{{ .Title }}</a
                  >
                  <span class="f6 gray">{{ .Date.Format "January 2, 2006" }}</span>
                </li>
              {{ end }}
            </ul>
          {{ else }}
            <div class="ph2 i">
              None yet, but keep an eye out!
            </div>
          {{ end }}
        </section>
      {{ end }}

  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
