body {
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  padding: 10px 80px;
  font-size: 90%;
  background-color: white;
}

.f3 {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 500;
}

.pa1 {
  padding-left: 1.25rem;
  line-height: .5;
}

a {
  color: #E79A56;
  text-decoration: none;
  font-weight: 600;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #eeeeee;
  /* border-radius: 4px; */
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border: 1px solid #ccc;
  /* border-radius: 4px; */
}

pre,
code {
  font-family: monocode, monospace;
  -webkit-font-smoothings: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
